.dates{
    display: block;
    position: absolute;
    margin-top:25%;
    margin-left: 200px;
}

table{
    border-width: 0px;
    border-radius: 25px;
    border-collapse: collapse;
    padding-right: 15px;
}

.data{
    float: left;
    margin-left: 30%;
    margin-top: 5%;
}

th{
    width: 150px;
    text-align: center;
    height: 25px;
}

td{
    width: 150px;
    text-align: center;
    border-left-width: 0.5px;
    border-right-width: 0.5px;
}



#tablehead{
    display: block;
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #eeb058;
}

#tablebody{
    height: 800px   ;
    width: 100%;
    display: block;
    overflow-y: scroll;
}

.odd{
    background-color: #cfcfcf;
}

.even{
    background-color: #ececec;
}

button{
    display: block;
    background-color: #eeb058;
    width: 175px;
}

input{
    width: 175px;;
}

