<nav>
  <ul>

    <a routerLink="">
      <li>
        <i class="material-icons">home</i>
        <div class="name">Home</div>
      </li>
    </a>

    <a routerLink="data">
      <li>
        <i class="material-icons">folder_open</i>
        <div class="name">Data</div>
      </li>
    </a>

    <a routerLink="graphs">
      <li>
        <i class="material-icons">bar_chart</i>
        <div class="name">Graphs</div>
      </li>
    </a>

    <a routerLink="predictions">
      <li>
        <i class="material-icons">timeline</i>
        <div class="name">Predictions</div>
      </li>
    </a>

  </ul>
</nav>


